@font-face {
  font-family: 'Mono45';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/mono45.woff2') format('woff2');
}

@font-face {
  font-family: 'Mono45 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 80.06%;
  descent-override: 23.64%;
  line-gap-override: 0%;
  size-adjust: 96.43%;
}

@font-face {
  font-family: 'Dank';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/DankMono.woff2') format('woff2');
}

@font-face {
  font-family: 'Dank Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 64.63%;
  descent-override: 18.34%;
  line-gap-override: 16.59%;
  size-adjust: 120.53%;
}

@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 100 800;
  font-display: swap;
  src: local(Inter),
    url('~/assets/fonts/Inter-VariableFont.woff2') format('woff2');
  font-stretch: 25% 151%;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 90%;
  descent-override: 22.43%;
  line-gap-override: 0%;
  size-adjust: 107.64%;
}

@tailwind base;
@tailwind components;

body {
  @apply font-base scroll-smooth;
}

main {
  @apply lg:max-w-[700px] max-w-lg m-auto px-2 sm:px-0;
}

h1 {
  @apply font-base;
}
.brand {
  @apply text-5xl text-white uppercase font-brand drop-shadow shadow-white;
}

h2,
h3,
h4 {
  @apply font-headings;
}
h2 {
  @apply text-2xl tracking-wider uppercase text-yellowDs;
}
/* PROSE ONLY */

.prose h2 {
  @apply my-8 text-lg font-bold text-purple-700 normal-case font-base;
}
.prose h3 {
  @apply my-8 text-sm font-bold text-purple-700 uppercase font-base;
}

.prose p {
  @apply mb-6 leading-6 font-base;
}

.prose a {
  @apply break-words;
}

.prose a[target='_blank'] {
  @apply after:bg-external-link after:inline-block after:bg-contain after:text-gray-400 after:opacity-50 after:bg-no-repeat after:w-4 after:h-4 after:ml-1 after:top-0.5 after:relative;
}

@tailwind utilities;

@layer components {
  .trackTimeline {
    @apply h-1 transition-shadow bg-transparent bg-left-top border-0 rounded-full select-none;
  }
  .thumbTimeline {
    @apply relative w-2 h-2 transition-all border-none rounded-full appearance-none bg-yellowDs;
  }
}
