@font-face {
  font-family: 'Mono45';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/mono45.woff2') format('woff2');
}
@font-face {
  font-family: 'Dank';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Dank.woff2') format('woff2');
}

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format("woff2");
} */

/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format('woff2');
} */

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format("woff2");
} */

/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format('woff2');
} */

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format("woff2");
} */

/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format('woff2');
} */

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('~/assets/fonts/.woff2') format("woff2");
} */

@tailwind base;
@tailwind components;

body {
  @apply font-base scroll-smooth;
}

main {
  @apply lg:max-w-[700px] max-w-lg m-auto px-2 sm:px-0;
}

h1 {
  @apply text-red-500;
}
.brand {
  @apply text-5xl text-white uppercase font-brand drop-shadow shadow-white;
}

h2,
h3,
h4 {
  @apply font-headings;
}
h2 {
  @apply text-2xl tracking-wider text-center uppercase text-yellowDs;
}

@tailwind utilities;
