@font-face {
  font-family: 'Mono45';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/mono45.woff2') format('woff2');
}
@font-face {
  font-family: 'Dank';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/DankMono.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 100 800;
  font-display: swap;
  src:
    local(Inter),
    url('~/assets/fonts/Inter-clean.woff2') format('woff2');
  font-stretch: 25% 151%;
  unicode-range: U+000-5FF;
}

@import "tailwindcss";

body {
  font-family: theme('fontFamily.base');
  scroll-behavior: smooth;
}

main {
  max-width: theme('maxWidth.md');
  margin: auto;
  padding-left: theme('padding.2');
  padding-right: theme('padding.2');
}

@media (min-width: theme('screens.sm')) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

h1 {
  font-family: theme('fontFamily.base');
}

.brand {
  font-size: theme('fontSize.5xl');
  color: theme('colors.white');
  text-transform: uppercase;
  font-family: theme('fontFamily.brand');
  filter: drop-shadow(theme('dropShadow.DEFAULT'));
  text-shadow: theme('textShadow.white');
}

h2,
h3,
h4 {
  font-family: theme('fontFamily.headings');
}

h2 {
  font-size: theme('fontSize.2xl');
  letter-spacing: theme('letterSpacing.wider');
  text-transform: uppercase;
  color: theme('colors.yellowDs');
}

/* PROSE ONLY */

.prose h2 {
  margin-top: theme('margin.8');
  margin-bottom: theme('margin.8');
  font-size: theme('fontSize.lg');
  font-weight: theme('fontWeight.bold');
  color: theme('colors.purple.700');
  text-transform: none;
  font-family: theme('fontFamily.base');
}

.prose h3 {
  margin-top: theme('margin.8');
  margin-bottom: theme('margin.8');
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.bold');
  color: theme('colors.purple.700');
  text-transform: uppercase;
  font-family: theme('fontFamily.base');
}

.prose.article-content h2 {
  font-size: theme('fontSize.2xl');
  text-transform: none;
}

.prose.article-content h3 {
  font-size: theme('fontSize.xl');
  color: theme('colors.gray.700');
  text-transform: none;
}

.prose.article-content h4 {
  font-size: theme('fontSize.xl');
  font-weight: theme('fontWeight.bold');
  color: theme('colors.gray.700');
  text-transform: none;
  font-family: theme('fontFamily.base');
}

.prose p {
  margin-bottom: theme('margin.6');
  line-height: theme('lineHeight.6');
  font-family: theme('fontFamily.base');
}

.prose .info-block > p,
.prose .info-block strong,
.prose .info-block a,
.prose .info-block > ul {
  margin-top: 0;
  margin-bottom: 0;
  color: theme('colors.gray.600');
}

.prose .info-block > ul li {
  color: theme('colors.gray.600');
}

.prose a {
  word-break: break-word;
}

.prose a[target='_blank']:not(.no-arrow)::after {
  content: '';
  background-image: theme('backgroundImage.external-link');
  display: inline-block;
  background-size: contain;
  color: theme('colors.gray.400');
  opacity: 0.5;
  background-repeat: no-repeat;
  width: theme('width.4');
  height: theme('height.4');
  margin-left: theme('margin.1');
  top: theme('top.3');
  position: relative;
}

@layer components {
  .trackTimeline {
    height: theme('height.1');
    transition-property: box-shadow;
    background-color: transparent;
    background-position: left top;
    border: none;
    border-radius: theme('borderRadius.full');
    user-select: none;
  }
  
  .thumbTimeline {
    position: relative;
    width: theme('width.2');
    height: theme('height.2');
    transition-property: all;
    border: none;
    border-radius: theme('borderRadius.full');
    appearance: none;
    background-color: theme('colors.yellowDs');
  }
}

/** move here for avoid error compilation */
.wrapper-range {
  position: relative;
  width: 100%;
  height: theme('height.4');
  padding: 0;
  margin: 0;
}

/** progress bar */
.wrapper-range .progress-bar {
  appearance: none;
  border: none;
  border-radius: theme('borderRadius.full');
  height: theme('height.1');
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0%;
  background-color: theme('colors.purpleDs');
  width: 100%;
}

.wrapper-range ::-webkit-progress-bar {
  height: theme('height.1');
  border-radius: theme('borderRadius.full');
  background-color: theme('colors.purpleDs');
}

.wrapper-range ::-webkit-progress-value {
  background-color: theme('colors.yellowDs');
  border-radius: theme('borderRadius.full');
  height: theme('height.2');
  position: relative;
  top: calc(theme('height.1') / 2 * -1);
  padding-top: theme('padding.1');
  padding-bottom: theme('padding.1');
}

.wrapper-range ::-moz-progress-bar {
  background-color: theme('colors.yellowDs');
  border-radius: theme('borderRadius.full');
  height: theme('height.2');
  position: relative;
  margin-top: calc(theme('height.1') / 2 * -1);
}

/** range */

.wrapper-range input[type='range'] {
  appearance: none;
  background-position: left top;
  border: none;
  border-radius: theme('borderRadius.full');
  color: theme('colors.purpleDs');
  height: theme('height.1');
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0%;
  z-index: 10;
  outline: none;
  display: block;
  transition-property: box-shadow;
  cursor: pointer;
}

/* the track */
.wrapper-range ::-webkit-slider-runnable-track {
  height: theme('height.1');
  transition-property: box-shadow;
  background-color: transparent;
  background-position: left top;
  border: none;
  border-radius: theme('borderRadius.full');
  user-select: none;
}

/* the thumb */
.wrapper-range ::-webkit-slider-thumb {
  position: relative;
  width: theme('width.2');
  height: theme('height.2');
  transition-property: all;
  border: none;
  border-radius: theme('borderRadius.full');
  appearance: none;
  background-color: theme('colors.yellowDs');
  margin-top: calc(theme('height.1') / 2 * -1);
}

/* Mozilla */
.wrapper-range ::-moz-range-track {
  height: theme('height.1');
  transition-property: box-shadow;
  background-color: transparent;
  background-position: left top;
  border: none;
  border-radius: theme('borderRadius.full');
  user-select: none;
}

.wrapper-range ::-moz-range-thumb {
  position: relative;
  width: theme('width.2');
  height: theme('height.2');
  transition-property: all;
  border: none;
  border-radius: theme('borderRadius.full');
  appearance: none;
  background-color: theme('colors.yellowDs');
}

/* Microsoft */
.wrapper-range ::-ms-fill-upper,
.wrapper-range ::-ms-fill-lower,
.wrapper-range ::-ms-track {
  height: theme('height.1');
  transition-property: box-shadow;
  background-color: transparent;
  background-position: left top;
  border: none;
  border-radius: theme('borderRadius.full');
  user-select: none;
}

.wrapper-range ::-ms-thumb {
  position: relative;
  width: theme('width.2');
  height: theme('height.2');
  transition-property: all;
  border: none;
  border-radius: theme('borderRadius.full');
  appearance: none;
  background-color: theme('colors.yellowDs');
}

.wrapper-range ::-ms-ticks-after {
  display: none;
}

.wrapper-range ::-ms-ticks-before {
  display: none;
}

.wrapper-range ::-ms-tooltip {
  display: none;
}
