@font-face {
  font-family: 'Mono45';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/mono45.woff2') format('woff2');
}
@font-face {
  font-family: 'Dank';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/DankMono.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 100 800;
  font-display: swap;
  src:
    local(Inter),
    url('~/assets/fonts/Inter-clean.woff2') format('woff2');
  font-stretch: 25% 151%;
  unicode-range: U+000-5FF;
}

@tailwind base;
@tailwind components;

body {
  @apply font-base scroll-smooth;
}

main {
  @apply md:max-w-[768px] m-auto px-2 sm:px-0;
}

h1 {
  @apply font-base;
}
.brand {
  @apply text-5xl text-white uppercase font-brand drop-shadow shadow-white;
}

h2,
h3,
h4 {
  @apply font-headings;
}
h2 {
  @apply text-2xl tracking-wider uppercase text-yellowDs;
}
/* PROSE ONLY */

.prose h2 {
  @apply my-8 text-lg font-bold text-purple-700 normal-case font-base;
}
.prose h3 {
  @apply my-8 text-sm font-bold text-purple-700 uppercase font-base;
}

.prose.article-content h2 {
  @apply text-2xl normal-case;
}

.prose.article-content h3 {
  @apply text-xl text-gray-700 normal-case;
}

.prose.article-content h4 {
  @apply text-xl font-bold text-gray-700 normal-case font-base;
}

.prose p {
  @apply mb-6 leading-6 font-base;
}

.prose .info-block > p,
.prose .info-block strong,
.prose .info-block a,
.prose .info-block > ul {
  @apply my-0 text-gray-600;
}
.prose .info-block > ul li {
  @apply text-gray-600;
}

.prose a {
  @apply break-words;
}

.prose a[target='_blank']:not(.no-arrow) {
  @apply after:bg-external-link after:inline-block after:bg-contain after:text-gray-400 after:opacity-50 after:bg-no-repeat after:w-4 after:h-4 after:ml-1 after:top-[3px] after:relative;
}

@tailwind utilities;

@layer components {
  .trackTimeline {
    @apply h-1 transition-shadow bg-transparent bg-left-top border-0 rounded-full select-none;
  }
  .thumbTimeline {
    @apply relative w-2 h-2 transition-all border-none rounded-full appearance-none bg-yellowDs;
  }
}

/** move here for avoid error compilation */
.wrapper-range {
  @apply relative w-full h-4 p-0 m-0;
}
/** progress bar */
.wrapper-range .progress-bar {
  @apply appearance-none border-none rounded-full h-1 m-0 p-0 absolute top-[0%] bg-purpleDs w-full focus:outline-none;
}

.wrapper-range ::-webkit-progress-bar {
  @apply h-1 rounded-full bg-purpleDs;
}

.wrapper-range ::-webkit-progress-value {
  @apply bg-yellowDs rounded-full h-2 relative -top-0.5 py-1;
}

.wrapper-range ::-moz-progress-bar {
  @apply bg-yellowDs rounded-full h-2 relative -mt-0.5;
}

/** range */

.wrapper-range input[type='range'] {
  @apply appearance-none bg-left-top border-none rounded-full text-purpleDs h-1 m-0 p-0 w-full bg-transparent absolute top-[0%] z-10 focus:outline-none block transition-shadow cursor-pointer;
}

/* the track */
.wrapper-range ::-webkit-slider-runnable-track {
  @apply trackTimeline;
}

/* the thumb */
.wrapper-range ::-webkit-slider-thumb {
  @apply thumbTimeline -mt-0.5;
}

/* Mozilla */
.wrapper-range ::-moz-range-track {
  @apply trackTimeline;
}

.wrapper-range ::-moz-range-thumb {
  @apply thumbTimeline;
}

/* Microsoft */
.wrapper-range ::-ms-fill-upper,
.wrapper-range ::-ms-fill-lower,
.wrapper-range ::-ms-track {
  @apply trackTimeline;
}

.wrapper-range ::-ms-thumb {
  @apply thumbTimeline;
}

.wrapper-range ::-ms-ticks-after {
  @apply hidden;
}

.wrapper-range ::-ms-ticks-before {
  @apply hidden;
}

.wrapper-range ::-ms-tooltip {
  @apply hidden;
}
